.dashboard {
    display: flex;
    min-height: 100vh;
    background: #f5f7fb;
    font-family: "Segoe UI", sans-serif;
}

/* Sidebar */

.sidebar {
    width: 260px;
    background: #1e293b;
    color: white;
    padding: 25px 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 24px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 14px 16px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar li:hover {
    background: #334155;
}

/* Content */

.content {
    flex: 1;
    padding: 35px;
}

.content h1 {
    color: #0f172a;
    margin-bottom: 5px;
}

.dashboard-subtitle {
    color: #64748b;
    margin-bottom: 30px;
}

/* Cards */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-4px);
}

.card h2 {
    color: #2563eb;
    font-size: 32px;
    margin-bottom: 10px;
}

.card p {
    color: #64748b;
}

.card-icon {
    font-size: 28px;
    margin-bottom: 10px;
}